/* landing ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.landing {
    display:flex;
    padding: 20px;
    min-width: 100vw;
    min-height: 100vh;
    /* color:red; */
    /* margin-left: 500px; */
    /* background: rgb(255,255,221);
background: linear-gradient(90deg, rgba(255,255,221,1) 0%, rgba(57,57,57,1) 72%, rgba(2,0,23,1) 100%); */
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(57,57,57,1) 72%, rgba(2,0,23,1) 100%);
@media(max-width:940px){
flex-direction: column;
/* background: linear-gradient(90deg, rgb(177, 14, 14) 0%, rgba(57,57,57,1) 72%, rgba(2,0,23,1) 100%); */
}
}
.landing-left{
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 1000px;
    justify-content: space-between;
    @media(max-width:940px){
        width: auto;
        padding: 20px;
        }
    
    /* border-right: dashed rgba(218, 218, 218, 0.612);  */
}
.landing-right{
    /* margin-left: 500px; */
    /* background-color: #fefefe; */
    display: flex;
    width: 1000px;
    max-width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    @media(max-width:940px){
        width: auto;
        padding: 20px;
        }

}
.landing-right-box{
    /* margin-top: 300px; */
    @media(max-width:940px){
        margin-top: 50px;
        }

}
.landing-right-box h2 {
    font-size: 32px;
    background: #FFFFFF;
background: linear-gradient(to right, #FFFFFF 66%, #A4A6A4 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.landing-right-box button {
    font-size: 18px;
    font-weight: 600;
    width: 215px;
    padding: 10px 0;
    margin-top: 20px;
    background: linear-gradient(to right, #FFFFFF 66%, #A4A6A4 100%);
    margin-right: 20px;

}
.landing-right-box button:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(211, 211, 211, 0.4);
    /* color: #fff; */
    transform: translateY(-7px);
    
}
.terms{
    margin-top: 40px;
    color: rgb(201, 194, 194);
    &:hover{
        color:#FFFFFF;
        cursor: pointer;
        
    }
}
.logo{
    width: 200px;
    @media(max-width:940px){
        margin-bottom: 40px;
        }
    
}
.hi-bubble{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/*  */
.typewriter{
    font-size: 2em;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: white;
}
.typewriter-container{
    /* margin-top: 250px; */
    background-color: #000000;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 30px;
    border: solid;
    border-radius: 25px;
    border-color: #E1E0E3;
    border-width: thick;
    max-width:900px;
    box-shadow: 0px 15px 20px rgba(24, 24, 24, 0.4);
}
.typewriter-container-2{
    margin-top: 20px;
    background-color: #ffffff;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 30px;
    border: solid;
    border-radius: 25px;
    border-color: #f4f4f4;
    border-width: thick;
    max-width:900px;
    min-height: 400px;
    box-shadow: 0px 15px 20px rgba(24, 24, 24, 0.4);
}
.typewriter-2{
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
/* landing .................................................................................. */

/* avatar */
.avatar-container{}
.avatar-video{
    max-height: 650px;
    margin-bottom: 30px;
}